@{
    ViewBag.Title = "PDFSharp Exemplo";
}

<div class="row">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("PdfBase64", "Home")'"> Gerar PDF Base64 </button>
</div>
